.reply {
  margin-bottom: 10px;
  height: 100px
}

#thread {
  height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-wrap: break-word;
}

#message {
  resize: none;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

.sent {
  text-align: right;
}

.received {
  text-align: left;
}
